EXPO_PUBLIC_WDK_INDEXER_BASE_URL=https://wdk-api.tether.io
EXPO_PUBLIC_WDK_INDEXER_API_KEY=
EXPO_PUBLIC_ETH_RPC_URL=
EXPO_PUBLIC_TRON_API_KEY=
EXPO_PUBLIC_TRON_API_SECRET=
EXPO_PUBLIC_APP_ENV=production
EXPO_PUBLIC_BIOMETRIC_TIMEOUT=300
EXPO_PUBLIC_ENABLE_TESTNET=false
